<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" routerLink="/">
        <img src="../../../assets/img/logo_twitter.png" width="40" height="30" class="d-inline-block align-top" alt="" routerLink="/">
        TwitterApp
      </a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/twitter_timeline">Timeline<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/twitter_mentions">Mentions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/tendances">Tendances Mondiale</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/abonnements">Mes Abonnements</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/followers">Mes Followers</a>
        </li>
      </ul>
      <p class="my-2 my-lg-0"><img src="{{userinfo_picture}}" class="rounded-circle" height="35" width="35"/>{{userinfo_name}}</p>
    </div>
  </nav>
  <router-outlet></router-outlet>
</body>
