


.card{
    background-color: black;
}

.card-title{
    color: white;
}

.card-text{
    color: white;
}

p{
    color: #1DA1F2;
}

.container{
    margin-top: 30px;
}


form{
    background-color: black;
    padding: 25px;
    border-radius: 5px;
}

h1{
    margin-top: 20px;
}

label{
    color: white;
    font-size: 22px;
}