<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<app-navbar></app-navbar>
<body>
    <meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@nytimesbits" />
<meta name="twitter:creator" content="@nickbilton" />
<meta property="og:url" content="http://bits.blogs.nytimes.com/2011/12/08/a-twitter-for-my-sister/" />
<meta property="og:title" content="A Twitter for My Sister" />
<meta property="og:description" content="In the early days, Twitter grew so quickly that it was almost impossible to add new features because engineers spent their time trying to keep the rocket ship from stalling." />
<meta property="og:image" content="http://graphics8.nytimes.com/images/2011/12/08/technology/bits-newtwitter/bits-newtwitter-tmagArticle.jpg" />
    <div class="row justify-content-center">
        <h1>Fil d'actualité</h1>
      </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form [formGroup]="tweetForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Quoi de neuf ?</label>
                      <input type="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Tweet ICI"  formControlName="tweetdata" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.tweetdata.errors }" >
                      <small id="emailHelp" class="form-text text-muted">Vous pouvez tweeter via ce formulaire</small>
                    </div>
                    <button type="submit" class="btn btn-primary" [disabled]="loading" class="btn btn-primary">Tweeter</button>
                  </form>
            </div>
        </div>
    </div>
      <div *ngIf="undefined === myTimeline">
        <div class="container">
            <div class="row justify-content-center">
                <img src="https://thumbs.gfycat.com/WelldocumentedRevolvingBass-size_restricted.gif" alt="loader">
            </div>
        </div>
      </div>
    <div *ngFor="let tweet of myTimeline">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title"><img src="{{tweet.user.profile_image_url}}" class="rounded-circle" height="45" width="45"/> {{tweet.user.name}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">@{{tweet.user.screen_name}}</h6>
                  <p class="card-text">{{tweet.full_text}}</p>
                  <p class="card-text">{{tweet.user.description}}</p>
                  <p>Publié à : {{tweet.user.location}}</p>
                  <p>Publication : {{tweet.created_at}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> 
</body>

