<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<app-navbar></app-navbar>

<body>
  <div class="container">
    <div class="row justify-content-center">
      <h1>Tendances Mondiale</h1>
    </div>
  </div>
  <div *ngIf="undefined === tendances">
    <div class="container">
        <div class="row justify-content-center">
            <img src="https://thumbs.gfycat.com/WelldocumentedRevolvingBass-size_restricted.gif" alt="loader">
        </div>
    </div>
  </div>
<div *ngFor="let tendance of tendances; let i=index; let odd=odd;">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{tendance.name}}</h5>
              <p>Nombre de tweets : {{tendance.tweet_volume}}</p>
              <a class="btn btn-primary" routerLink="/searchtendance" role="button" [id]="i" (click)="getTendance(i)">Voir les Tweets</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
