<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<app-navbar></app-navbar>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form [formGroup]="tweetForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                  <label for="exampleInputEmail1">Quoi de neuf ?</label>
                  <input type="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Status"  formControlName="tweetdata" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.tweetdata.errors }" >
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="loading" class="btn btn-primary">Tweeter</button>
                <img *ngIf="loading" src="../../../assets/img/loader.gif" />
              </form>
        </div>
    </div>
</div>