<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<app-navbar></app-navbar>

<body>
    <div class="container">
      <div class="row justify-content-center">
        <h1>Mes Followers</h1>
      </div>
    </div>
    <div *ngIf="undefined === followers">
      <div class="container">
          <div class="row justify-content-center">
              <img src="https://thumbs.gfycat.com/WelldocumentedRevolvingBass-size_restricted.gif" alt="loader">
          </div>
      </div>
    </div>
  <div *ngFor="let follow of followers">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><img src="{{follow.profile_image_url}}" class="rounded-circle" height="45" width="45"/> {{follow.name}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">@{{follow.screen_name}}</h6>
                <p class="card-text">{{follow.description}}</p>
                <p>Habite à : {{follow.location}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>