<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<app-navbar></app-navbar>

<body>
  <div class="container">
    <div class="row justify-content-center">
      <h1>Tweeter Mentions</h1>
    </div>
  </div>
  <div *ngIf="undefined === myMentions">
    <div class="container">
        <div class="row justify-content-center">
            <img src="https://thumbs.gfycat.com/WelldocumentedRevolvingBass-size_restricted.gif" alt="loader">
        </div>
    </div>
  </div>
<div *ngFor="let tweet of myMentions">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
                <h5 class="card-title"><img src="{{tweet.user.profile_image_url}}" class="rounded-circle" height="45" width="45"/> {{tweet.user.name}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">@{{tweet.user.screen_name}}</h6>
                <p class="card-text">{{tweet.full_text}}</p>
                <p class="card-text">{{tweet.user.description}}</p>
                <p>Publié à : {{tweet.user.location}}</p>
                <p>Publication : {{tweet.created_at}}</p>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>